
<mat-toolbar color="primary">

<button mat-button routerLink="/"><span>Edr</span>
</button>

<button mat-button routerLink="/user/signup">SignUp</button>
<button mat-button routerLink="/user/login">Sign In</button>

<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    
    <span>About</span>
  </button>
  <button mat-menu-item >
   
    <span>How This Works ?</span>
  </button>
  <button mat-menu-item>
   
    <span>Contact</span>
  </button>
</mat-menu>

</mat-toolbar>